In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns 
from collections import Counter 
import warnings 
import math 
import itertools
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import top_k_accuracy_score
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('C:/Users/manul/Desktop/Major project/Project/DelhiNCR Restaurants.csv',encoding='latin-1')
df.columns
df.head

<bound method NDFrame.head of              Restaurant_Name  \
0                   Rustom's
1                  Cafe Lota
2     Dum-Pukht - ITC Maurya
3                Burma Burma
4              The Big Chill
...                      ...
1960          Bablu Chic-Inn
1961               Kovilakam
1962        Krips Restaurant
1963                Cafe 147
1964                Pizzasia

                                               Category  Pricing_for_2  \
0     Parsi, Street Food, North Indian, Desserts, Be...           2100
1           Cafe, South Indian, North Indian, Beverages           1200
2                       Mughlai, North Indian, Desserts           5000
3           Asian, Burmese, Bubble Tea, Desserts, Salad           1600
4                        Continental, American, Italian           1500
...                                                 ...            ...
1960          Mughlai, North Indian, Chinese, Fast Food            500
1961                                       South Indian            350
1962                     North Indian, Chinese, Mughlai            900
1963  Cafe, North Indian, Chinese, Kashmiri, Rolls, ...            800
1964                        Pizza, Fast Food, Beverages            500

                                         Locality  Dining_Rating  \
0                                  ITO, New Delhi            4.9
1                       Pragati Maidan, New Delhi            4.9
2             ITC Maurya, Chanakyapuri, New Delhi            4.9
3              Cyber Hub, DLF Cyber City, Gurgaon            4.9
4                          Khan Market, New Delhi            4.9
...                                           ...            ...
1960               Ashok Vihar Phase 3, New Delhi            3.9
1961                    Dilshad Garden, New Delhi            3.9
1962   Basant Lok Market, Vasant Vihar, New Delhi            3.9
1963                      Sainik Farms, New Delhi            3.9
1964                   Gaur City 2, Greater Noida            3.9

      Dining_Review_Count  Delivery_Rating  Delivery_Rating_Count  \
0                    1885              4.4                   1844
1                    3748              3.9                     37
2                    1371              NaN                      0
3                    2636              4.4                   1238
4                    6487              NaN                      0
...                   ...              ...                    ...
1960                  183              4.1                    545
1961                  114              NaN                      1
1962                  316              3.9                   2977
1963                  120              3.8                    196
1964                  165              3.9                   5196

                                                Website  \
0      https://www.zomato.com/ncr/rustoms-ito-new-delhi
1     https://www.zomato.com/ncr/cafe-lota-pragati-m...
2     https://www.zomato.com/ncr/dum-pukht-itc-maury...
3     https://www.zomato.com/ncr/burma-burma-dlf-cyb...
4     https://www.zomato.com/ncr/the-big-chill-khan-...
...                                                 ...
1960  https://www.zomato.com/ncr/bablu-chic-inn-asho...
1961  https://www.zomato.com/ncr/kovilakam-dilshad-g...
1962  https://www.zomato.com/ncr/krips-restaurant-va...
1963  https://www.zomato.com/ncr/cafe-147-sainik-far...
1964  https://www.zomato.com/ncr/pizzasia-gaur-city-...

                                                Address     Phone_No  \
0     Delhi Parsi Anjuman, LNJP Colony, Bahadur Shah...   9.1991E+11
1     National Crafts Museum, Gate 2, Bhairon Marg, ...  9.17839E+11
2                   ITC Maurya, Chanakyapuri, New Delhi  9.11146E+11
3     Shop 6, Ground Floor, Building 8, Tower C, Cyb...  9.11244E+11
4                          68-A, Khan Market, New Delhi  9.11142E+11
...                                                 ...          ...
1960  Shop 9, Pocket B, DDA Market, Ashok Vihar Phas...      9.2E+11
1961  F-1, Lower Ground 2, Mrignaini Chowk, Dilshad ...  9.19654E+11
1962  59, Community Centre, Basant Lok Market, Vasan...  9.11141E+11
1963  Shop A1/7, Ground Floor, Main IGNOU Road, Neb ...  9.19812E+11
1964  Shop 14, Ground Floor, Bhawishya India Tower, ...  9.18861E+11

       Latitude  Longitude                                         Known_For2  \
0     28.638167  77.240472                                                NaN
1     28.613429  77.242471  Pondicherry Fish Curry, Coconut Rabdi, Sabudan...
2     28.598200  77.173661  Royal ambiance and Mughlai cuisine, also recei...
3     28.494464  77.088532  Coconut Milk Dessert, Honey Caviar, Kaffir Lim...
4     28.600350  77.227493  Irish Cream Tiramisu, Penne Vodka, Mississippi...
...         ...        ...                                                ...
1960  28.692473  77.178004  Great Recommendations, Tamper Proof Packaging,...
1961  28.684101  77.326725  Kerala Parotta, Roasted Chicken, Chicken Curry...
1962  28.557310  77.163943  Excellent Food, Good Ambience, Courteous Staff...
1963  28.510338  77.202056  Pool, Live Music, Cafe, Environment, Good Plac...
1964  28.618250  77.427417  Cordial Staff, Great Recommendations, Mouth Wa...

                                            Known_For22
0                                                   NaN
1     Artistic Decor, The Service, Natural Ambience,...
2                                                   NaN
3     Knowledgeable Staff, Authentic, Soothing Ambie...
4     Retro Ambience, Yummy Desserts, Big Portions, ...
...                                                 ...
1960                                                NaN
1961  Lip Smacking Food, Amazing Food, Owner, Good P...
1962                                                NaN
1963                                                NaN
1964                                                NaN

[1965 rows x 15 columns]>

In [3]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1965 entries, 0 to 1964
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Restaurant_Name        1965 non-null   object
 1   Category               1965 non-null   object
 2   Pricing_for_2          1965 non-null   int64
 3   Locality               1965 non-null   object
 4   Dining_Rating          1965 non-null   float64
 5   Dining_Review_Count    1965 non-null   int64
 6   Delivery_Rating        1563 non-null   float64
 7   Delivery_Rating_Count  1965 non-null   int64
 8   Website                1965 non-null   object
 9   Address                1965 non-null   object
 10  Phone_No               1965 non-null   object
 11  Latitude               1965 non-null   float64
 12  Longitude              1965 non-null   float64
 13  Known_For2             1560 non-null   object
 14  Known_For22            1124 non-null   object
dtypes: float64(4), int64(3), object(8)
memory usage: 230.4+ KB

,Pricing_for_2,Dining_Rating,Dining_Review_Count,Delivery_Rating,Delivery_Rating_Count,Latitude,Longitude
count,1965.000000,1965.000000,1965.000000,1563.000000,1965.000000,1965.000000,1965.000000
mean,1090.687023,4.140000,721.954198,3.964299,3029.550636,28.549542,77.161570
std,934.481617,0.202147,932.618839,0.242305,6529.839896,0.784241,1.685399
min,100.000000,3.900000,3.000000,2.800000,0.000000,-5.975200,2.650463
25%,500.000000,4.000000,244.000000,3.800000,34.000000,28.496564,77.100745
50%,700.000000,4.100000,433.000000,4.000000,604.000000,28.567882,77.201558
75%,1500.000000,4.300000,842.000000,4.100000,3316.000000,28.635845,77.258408
max,8000.000000,4.900000,10100.000000,4.500000,87700.000000,29.065189,77.536009

In [4]:
df.dropna(inplace=True)
df['id'] = df.index

In [5]:
df['Final_rating'] = df.apply(lambda x: x['Dining_Rating'] * math.log10(x['Dining_Review_Count']), axis=1)
df['Locality'].unique()

array([' Pragati Maidan, New Delhi',
       ' Cyber Hub, DLF Cyber City, Gurgaon', ' Lodhi Colony, New Delhi',
       ' Sector 15, Gurgaon', ' Connaught Place, New Delhi',
       ' Kailash Colony, New Delhi',
       ' Two Horizon Center, Golf Course Road, Gurgaon',
       ' Vijay Nagar, New Delhi', ' Hauz Khas Village, New Delhi',
       ' Pandara Road Market, New Delhi', ' Mehrauli, New Delhi',
       ' Anand Vihar, New Delhi',
       ' Pacific Mall, Tagore Garden, New Delhi',
       ' Select Citywalk Mall, Saket, New Delhi', ' Sushant Lok, Gurgaon',
       ' Majnu ka Tila, New Delhi',
       ' MGF Metropolis Mall, MG Road, Gurgaon', ' Sector 23, Gurgaon',
       ' Suncity Business Tower, Golf Course Road, Gurgaon',
       ' DLF Mall of India, Sector 18,  Noida, Noida',
       ' Unity One Mall, Janakpuri, New Delhi',
       ' Cross Point Mall, DLF Phase 4, Gurgaon', ' Sector 110, Noida',
       ' DLF Avenue, Saket, New Delhi',
       ' Greater Kailash 2 (GK2), New Delhi',
       ' Sangam Courtyard, RK Puram, New Delhi',
       ' Ambience Mall, DLF Phase 3, Gurgaon', ' Sector 15, Faridabad',
       ' Greater Kailash 1 (GK1), New Delhi',
       ' Eros City Square Mall, Sector 49, Gurgaon, Gurgaon',
       ' Sector 29, Gurgaon', ' Lawrence Road, New Delhi',
       ' Chhatarpur, New Delhi', ' Khan Market, New Delhi',
       ' Safdarjung, New Delhi', ' Mandi House, New Delhi',
       ' Chanakyapuri, New Delhi',
       ' Ansal Plaza Mall, Khel Gaon Marg, New Delhi',
       ' Paschim Vihar, New Delhi', ' R K Puram, New Delhi',
       ' Hajipur, Noida', ' Hyatt Regency, Bhikaji Cama Place, New Delhi',
       ' Sector 72, Noida', ' Kasbah, Greater Kailash (GK) 1, New Delhi',
       ' Hauz Khas, New Delhi', ' Shahpur Jat, New Delhi',
       ' Sector 56, Gurgaon', ' DLF Phase 1, Gurgaon',
       ' Shopping Mall, DLF Phase 1, Gurgaon', ' Civil Lines, New Delhi',
       ' Chanakya Mall, Chanakyapuri, New Delhi', ' Aerocity, New Delhi',
       ' Sector 12, Dwarka, New Delhi', ' Prashant Vihar, New Delhi',
       ' Saket, New Delhi', ' Sector 50, Gurgaon',
       ' Delhi University-GTB Nagar, New Delhi', ' Sector 16, Faridabad',
       ' Golf Course Road, Gurgaon', ' Raj Nagar, Ghaziabad',
       ' Lajpat Nagar 2, New Delhi', ' Defence Colony, New Delhi',
       ' Sector 135, Noida', ' Sector 5, Dwarka, New Delhi',
       ' Karkardooma, New Delhi',
       ' Defence Colony Main Market, Defence Colony, New Delhi',
       ' South Point Mall, Golf Course Road, Gurgaon',
       ' Ambience Mall, Vasant Kunj, New Delhi',
       ' Central Arcade, DLF Phase 2, Gurgaon, Gurgaon',
       ' East of Kailash, New Delhi', ' Sector 10, Dwarka, New Delhi',
       ' DLF Galleria, DLF Phase 4, Gurgaon', ' Sikandarpur, Gurgaon',
       ' Gardens Galleria, Sector 38 Noida, Noida',
       ' Champa Gali, Saket, New Delhi',
       ' Greater Kailash 3 (GK3), New Delhi', ' Rohini, New Delhi',
       ' DLF Phase 5, Gurgaon', ' Sarojini Nagar, New Delhi',
       ' Brahmaputra Shopping Complex, Sector 29, Noida, Noida',
       ' Supermart 1, DLF Phase 4, Gurgaon', ' Indirapuram, Ghaziabad',
       ' PVR Anupam Complex, Saket, New Delhi', ' Sector 18, Noida',
       ' Sector 93, Noida', ' Rajouri Garden, New Delhi',
       ' Essex Farms, Adchini, New Delhi',
       ' M Block Market, Greater Kailash 2 (GK2), New Delhi',
       ' City Centre Mall, Sector 12, Dwarka, New Delhi',
       ' The Claridges, Aurangzeb Road, New Delhi',
       ' Jama Masjid, New Delhi', ' Subhash Nagar, New Delhi',
       ' Nirvana Courtyard, Sector 50, Gurgaon',
       ' Community Centre, New Friends Colony, New Delhi',
       ' DLF Phase 4, Gurgaon', ' Satyaniketan, New Delhi',
       ' Karol Bagh, New Delhi', ' Crossing Republik, Ghaziabad',
       ' Gaur City 1, Greater Noida',
       ' Flyover Market, Defence Colony, New Delhi',
       ' Central Plaza Mall, Golf Course Road, Gurgaon',
       ' East Patel Nagar, New Delhi', ' Kamla Nagar, New Delhi',
       ' Vasant Kunj, New Delhi', ' Sector 11, Dwarka, New Delhi',
       ' Qutab Plaza, DLF Phase 1, Gurgaon', ' Sector 39, Gurgaon',
       ' Kaushambi, Ghaziabad',
       ' Rodeo Drive, Sector 49, Gurgaon, Gurgaon',
       ' Nehru Place, New Delhi', ' JNU, New Delhi',
       ' Sainik Farms, New Delhi', ' Baani Square, Sector 50, Gurgaon',
       ' Malviya Nagar, New Delhi', ' Sector 49, Gurgaon',
       ' Pandav Nagar, New Delhi',
       ' Ansal Plaza Mall, Knowledge Park, Greater Noida',
       ' Epicuria Food Mall, Nehru Place, New Delhi',
       ' Jaypee Siddharth, Rajendra Place, New Delhi',
       ' Sector 57, Gurgaon', ' Sector 25, Noida',
       ' Punjabi Bagh, New Delhi', ' Lado Sarai, New Delhi',
       ' Jail Road, New Delhi',
       ' DLF Promenade Mall, Vasant Kunj, New Delhi',
       ' South Extension 2, New Delhi', ' Adchini, New Delhi',
       ' Uttam Nagar, New Delhi', ' Lajpat Nagar 3, New Delhi',
       ' Elements One Mall, Sector 49, Gurgaon', ' Green Park, New Delhi',
       ' Vaishali, Ghaziabad', ' Shahdara, New Delhi',
       ' Uday Park, New Delhi', ' Asaf Ali Road, New Delhi',
       ' Nizamuddin, New Delhi', ' Sector 83, Gurgaon',
       ' Ballabhgarh, Faridabad', ' Sector 31, Gurgaon',
       ' Sector 7, Faridabad', ' NIT, Faridabad',
       ' Shalimar Bagh, New Delhi', ' DLF Cyber City, Gurgaon',
       ' Holiday Inn, Mayur Vihar, New Delhi', ' Gamma 1, Greater Noida',
       ' Daryaganj, New Delhi', ' Sector 52, Noida',
       ' Ashok Vihar Phase 2, New Delhi', ' Sector 7, Dwarka, New Delhi',
       '  32nd Avenue, NH8, Gurgaon, Gurgaon', ' Sector 17, Faridabad',
       ' Jangpura, New Delhi', ' Chander Nagar, New Delhi',
       ' Vikaspuri, New Delhi', ' Gaur City 2, Greater Noida',
       ' Kalkaji, New Delhi', ' Panchsheel Park, New Delhi',
       ' Rajinder Nagar, New Delhi', ' Worldmark 1, Aerocity, New Delhi',
       ' Model Town 2, New Delhi', ' Pitampura, New Delhi',
       ' Mayur Vihar Phase 1, New Delhi', ' Sector 14, Gurgaon',
       ' Alpha 2, Greater Noida', ' Lajpat Nagar 4, New Delhi',
       ' DLF Phase 3, Gurgaon',
       ' Omaxe Connaught Place, Beta 2, Greater Noida',
       ' Sector 81, Faridabad', ' Sohna Road, Gurgaon',
       ' Mayur Vihar Phase 2, New Delhi',
       ' Sushant Shopping Arcade, Sushant Lok, Gurgaon, Gurgaon',
       ' Sector 11, Faridabad', ' Vivek Vihar, New Delhi',
       ' Sector 63, Noida', ' South City 2, Gurgaon', ' Sector 45, Noida',
       ' Sector 71, Noida', ' DLF Phase 2, Gurgaon',
       ' Sector 29, Faridabad', ' Gujranwala Town, New Delhi',
       ' Sector 54, Gurgaon',
       ' Vibe by The LaLit Traveller, Mathura Road, Faridabad',
       ' Gole Market, New Delhi', ' Old Railway Road, Gurgaon',
       ' Janakpuri, New Delhi', ' Laxmi Nagar, New Delhi',
       ' MG Road, Gurgaon', ' Aditya City Centre, Indirapuram, Ghaziabad',
       ' Sector 37, Noida', ' Nehru Nagar, Ghaziabad',
       ' The Lalit New Delhi, Barakhamba Road, New Delhi',
       ' Chittaranjan Park, New Delhi',
       ' Basant Lok Market, Vasant Vihar, New Delhi',
       ' One Horizon Center, Golf Course Road, Gurgaon',
       ' Alaknanda, New Delhi', ' Gwal Pahari, Gurgaon',
       ' Sheikh Sarai, New Delhi', ' Barakhamba Road, New Delhi',
       ' Sector 13, Dwarka, New Delhi', ' Sector 14, Faridabad',
       ' Sector 62, Noida',
       ' M Block Market, Greater Kailash 1 (GK1), New Delhi',
       ' Yusuf Sarai, New Delhi', ' Preet Vihar, New Delhi',
       ' Sector 45, Gurgaon', ' Crescent Square Mall, Rohini, New Delhi',
       ' Palam Vihar, Gurgaon',
       ' The Great India Place, Sector 38, Noida',
       ' Living Style Mall, Jasola, New Delhi', ' Sector 132, Noida',
       ' Gaur Central  Mall, Raj Nagar, Ghaziabad', ' Sector 37, Gurgaon',
       ' Hyatt Place Gurgaon, Gurgaon',
       ' PVR City Centre Mall, MG Road, Gurgaon', ' Narela, New Delhi',
       ' Rajendra Place, New Delhi',
       ' MGF Metropolitan Mall, Saket, New Delhi',
       ' Amrapali Leisure Valley, Greater Noida',
       ' Mayapuri Phase 2, New Delhi', ' Sector 7, Gurgaon',
       ' MGF Metropolitan Mall, MG Road, Gurgaon', ' Sector 53, Gurgaon',
       ' The India Mall, New Friends Colony, New Delhi',
       ' Supermart 2, DLF Phase 4, Gurgaon',
       ' Ameya Suites, Jasola, New Delhi', ' West Patel Nagar, New Delhi',
       ' Sector 6, Dwarka, New Delhi', ' Sector 43, Faridabad',
       ' Ninex City Mart Mall, Sohna Road, Gurgaon',
       ' Sector 21, Faridabad', ' Kavi Nagar, Ghaziabad',
       ' Ashok Vihar Phase 1, New Delhi',
       ' Ashok Vihar Phase 3, New Delhi',
       ' Vyapar Kendra, Sushant Lok, Gurgaon',
       ' Meharchand Market, Lodhi Colony, New Delhi', ' Sector 50, Noida',
       ' Shastri Nagar, Ghaziabad', ' Udyog Vihar, Gurgaon',
       ' Sector 22, Faridabad', ' Najafgarh, New Delhi',
       ' Omega 2, Greater Noida',
       ' WelcomHotel Dwarka, Sector 10, Dwarka, New Delhi',
       ' Ardee Mall, Ardee City, Gurgaon', ' IP Extension, New Delhi',
       ' Sector 12, Faridabad',
       ' Good Earth City Center, Sector 50, Gurgaon', ' Sector 15, Noida',
       ' Tilak Nagar, New Delhi',
       ' Hotel Alka Classic, Connaught Place, New Delhi',
       ' Shakarpur, New Delhi',
       ' Hong Kong Bazaar Mall, Sector 57, Gurgaon, Gurgaon',
       ' Sector 29, Noida', ' Raheja Mall, Sohna Road, Gurgaon',
       ' Radisson, Udyog Vihar, Gurgaon', ' Charmwood Village, Faridabad',
       ' Sector 44, Noida', ' Badarpur Border, Faridabad',
       ' Vasant Square Mall, Vasant Kunj, New Delhi',
       ' Krishna Nagar, New Delhi', ' Chandni Chowk, New Delhi',
       ' South Extension 1, New Delhi', ' Mathura Road, New Delhi',
       ' Crown Plaza Mall, Sector 15, Faridabad, Faridabad',
       ' Amrapali Dream Valley, Greater Noida', ' Sector 86, Faridabad',
       ' Jaipuria Sunrise Plaza, Indirapuram, Ghaziabad',
       ' Karampura, New Delhi', ' Kirti Nagar, New Delhi',
       ' Sector 30, Noida', ' Sector 11, Noida', ' Sector 35, Faridabad',
       ' Mukherjee Nagar, New Delhi', ' Palam, New Delhi',
       ' Park Inn by Radisson, Lajpat Nagar 4, New Delhi',
       ' Tagore Garden, New Delhi', ' Moti Nagar, New Delhi',
       ' Ansal Plaza Mall, Palam Vihar, Gurgaon', ' Sector 37, Faridabad',
       ' MSX Mall, Jaypee Greens, Greater Noida, Greater Noida',
       ' Sector 23, Dwarka, New Delhi', ' Sector 30, Gurgaon',
       ' Vasundhara, Ghaziabad', ' Geeta Colony, New Delhi',
       ' Sector 23, Faridabad', ' Model Town 3, New Delhi',
       ' Beta 1, Greater Noida',
       ' Jaipuria Plaza, Sector 26, Noida, Noida', ' Sector 43, Gurgaon',
       ' Harsha Mall, Alpha 1, Greater Noida, Greater Noida',
       ' Naraina, New Delhi', ' Sector 49, Noida',
       ' Panchsheel Square Mall, Crossing Republik, Ghaziabad',
       ' Starling Mall, Sector 110, Noida, Noida', ' Jasola, New Delhi',
       ' Model Town 1, New Delhi', ' Zakir Nagar, New Delhi',
       ' Sector 19, Faridabad', ' SDA, New Delhi',
       ' Sector 9, Dwarka, New Delhi', ' Knowledge Park, Greater Noida',
       ' South City 1, Gurgaon',
       ' The Grand New Delhi, Vasant Kunj, New Delhi',
       ' The Grand Venice Mall, Jaypee Greens, Greater Noida, Greater Noida',
       ' Spark Mall, Kamla Nagar, New Delhi',
       ' Central Market, Lajpat Nagar 2, New Delhi',
       ' Crown Interiorz Mall, Sector 35, Faridabad, Faridabad',
       ' The Sapphire Mall, Sector 49, Gurgaon, Gurgaon',
       ' Lajpat Nagar 1, New Delhi', ' Sector 15, Dwarka, New Delhi'],
      dtype=object)

In [6]:
df['City'] = df.apply(lambda x: x['Locality'].split(",") , axis=1)
df['City'] = df.apply(lambda x: x['City'][-1].strip() , axis=1)
y=list(set(df['City']))
y.sort()
print(y)

['Faridabad', 'Ghaziabad', 'Greater Noida', 'Gurgaon', 'New Delhi', 'Noida']

In [7]:
for (i, item) in enumerate(y, start=1):
    print(i, item, end='\t')
city=y[int(input("Enter the location number ")) -1]
city

1 Faridabad	2 Ghaziabad	3 Greater Noida	4 Gurgaon	5 New Delhi	6 Noida	Enter the location number 5

'New Delhi'

In [8]:
df.drop(['Delivery_Rating','Delivery_Rating_Count','Dining_Review_Count','Website','Phone_No','Longitude','Latitude','Known_For2','Known_For22'],axis=1,inplace=True)

In [9]:
df.columns

Index(['Restaurant_Name', 'Category', 'Pricing_for_2', 'Locality',
       'Dining_Rating', 'Address', 'id', 'Final_rating', 'City'],
      dtype='object')

In [10]:
tf=df[df.City==city].copy()
tf.columns
#tf.drop(['Restaurant_Name','Locality'],axis=1,inplace=True)

Index(['Restaurant_Name', 'Category', 'Pricing_for_2', 'Locality',
       'Dining_Rating', 'Address', 'id', 'Final_rating', 'City'],
      dtype='object')

In [11]:
set(tf['City'])

{'New Delhi'}

In [12]:
m=tf['Final_rating'].max()
tf['Final_rating'] = tf.apply(lambda x: (x['Final_rating']*5)/m,axis=1)

In [13]:
tf['Category'] = tf.apply(lambda x: x['Category'].split(","),axis=1)
tf['Category'] = tf.apply(lambda x: list(i.strip() for i in x['Category']),axis=1)
print(tf['Category'])

x = list(tf.get('Category'))
x = list(set(itertools.chain.from_iterable(x)))

1           [Cafe, South Indian, North Indian, Beverages]
5                                          [South Indian]
7                                   [Ice Cream, Desserts]
9       [South Indian, North Indian, Fast Food, Desser...
12      [Cafe, Continental, Italian, Fast Food, Orient...
                              ...
1944                        [Bakery, Fast Food, Desserts]
1951                       [North Indian, Mughlai, Rolls]
1952                              [North Indian, Chinese]
1953                              [Mughlai, North Indian]
1955                    [Chinese, Tibetan, Thai, Seafood]
Name: Category, Length: 554, dtype: object

In [14]:
for (i, item) in enumerate(x, start=1):
    if i%5==0:
        t='\n'
    else:
        t='\t'
    print(i, item ,end=t)
categories=[]
for i in range(5):
    categories.append(x[int(input('select 5 categoies'))-1])

1 Pizza	2 Raw Meats	3 Mediterranean	4 Seafood	5 South Indian
6 Korean	7 European	8 Bakery	9 Nepalese	10 French
11 Cafe	12 Kerala	13 Juices	14 Street Food	15 Singaporean
16 Odia	17 Spanish	18 Hyderabadi	19 Sandwich	20 Mexican
21 Thai	22 Afghan	23 Coffee	24 Fast Food	25 Burmese
26 Rolls	27 Lebanese	28 Naga	29 Beverages	30 American
31 Salad	32 Tea	33 Bengali	34 Turkish	35 Asian
36 Momos	37 Chettinad	38 Mithai	39 Sushi	40 North Eastern
41 Mughlai	42 BBQ	43 Healthy Food	44 Oriental	45 Bar Food
46 Japanese	47 Biryani	48 Ice Cream	49 Pasta	50 Awadhi
51 Middle Eastern	52 Arabian	53 Rajasthani	54 Italian	55 North Indian
56 Finger Food	57 Kebab	58 Andhra	59 Burger	60 Wraps
61 Vietnamese	62 Gujarati	63 Tibetan	64 Continental	65 Iranian
66 Tex-Mex	67 Panini	68 Bihari	69 Assamese	70 Tamil
71 Desserts	72 Chinese	select 5 categoies1
select 5 categoies2
select 5 categoies3
select 5 categoies4
select 5 categoies5

In [15]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return len(lst3)

In [16]:
tf["CategoryMatch"] = tf.apply(lambda x: intersection(x['Category'],categories),axis=1)

In [17]:
j=tf['Pricing_for_2'].max()
tf['Pricing_index']=tf.apply(lambda x: (x['Pricing_for_2']*5)/j, axis=1)

In [18]:
x = tf[['Dining_Rating','Final_rating','Pricing_index','CategoryMatch']]
y = tf['id']

In [19]:
p = int(input("Enter price for 2 in multiple of 100\t"))
x_test = pd.DataFrame({'Dining_Rating':[5],'Final_rating':[5],'Pricing_index':[(p*5)/j],'CategoryMatch':[5]})

Enter price for 2 in multiple of 100	1500

In [20]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x,y)

distance , y_pred = knn.kneighbors(x_test,n_neighbors=5)
distance , y_pred

(array([[3.19974096, 3.31906286, 3.45658971, 3.63821145, 3.91679255]]),
 array([[ 14, 327, 158, 336,   7]], dtype=int64))

In [21]:
tf.iloc[y_pred[0]]

,Restaurant_Name,Category,Pricing_for_2,Locality,Dining_Rating,Address,id,Final_rating,City,CategoryMatch,Pricing_index
66,Mahabelly,"[Kerala, South Indian, Seafood, Biryani]",700,"DLF Avenue, Saket, New Delhi",4.6,"MA-A05, Ground Floor, Restaurant Block, DLF Av...",66,4.319416,New Delhi,2,0.686275
1179,Ardor 2.1,"[North Indian, Chinese, Continental, Italian, ...",1800,"Connaught Place, New Delhi",4.0,"N-55/56 & 88/89, Outer Circle, Connaught Place...",1179,4.035804,New Delhi,2,1.764706
649,Swagath,"[North Indian, Chinese, South Indian, Seafood]",2000,"Defence Colony Main Market, Defence Colony, N...",4.2,"Shop 13 - 14, Defence Colony Market, Near Defe...",649,3.562043,New Delhi,2,1.960784
1211,Singla's,"[North Indian, Mithai, Chinese, Fast Food, Str...",500,"IP Extension, New Delhi",4.0,"A-139/140, Main Road, Madhu Vihar, Near Hasanp...",1211,3.491553,New Delhi,2,0.490196
21,Olive Bar & Kitchen,"[Italian, Pizza, Mediterranean, Continental, E...",4000,"Mehrauli, New Delhi",4.7,"6-8, Kalka Das Marg, Mehrauli, New Delhi",21,4.506078,New Delhi,2,3.921569